/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

header, body{
	background-color: #FFFEF8;
}

footer {
	background-color: white;
	height: 5em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	margin-top: 60px;
	font-size: 14px;
	font-family: 'Work Sans';
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

nav a{
	text-decoration: none;
    color: black;
}

nav div a:visited{
    text-decoration: none;
}

section {
	margin: 50px 0px 5px 0px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover {
	color: #B1663C;
}

.editIconDark{
	height: 20px;
	width: 20px;
	margin: 0px;
	align-self: flex-start;
	position: relative;
	right: 180px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}


#portfolio h2 {
	text-align: center;
}
.categoryFilters {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	margin-bottom: 40px;
	justify-content: center;
	gap: 10px;
}

.categoryFilters button{
	min-width: 100px;
	height: 37px;
	font-family: 'Syne';
	color: #1D6154;
	background-color: white;
	border: solid 1px;
	border-color: #1D6154;
	border-radius: 30px;
	padding: 10px;
}

.categoryFilters button:hover{
	color: white;
	background-color: #1D6154;
}



.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
	margin-top: 60px;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	background-color: white;
}

/* style for login page*/
.loginSection{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 60vh;
}

.loginSection form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginSection h1{
	font-weight: normal;
	color: #1D6154;
	margin-bottom: 20px;
	
}

.logField{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin: 10px;
	gap: 5px;
}

.logField input{
	width: 365px;
	height: 45px;
	border: none;
	box-shadow: 1px 1px 5px 1px rgba(197,187,187,0.43);
	margin-bottom: 10px;
}

.logButton{
	font-size: 16px;
	font-weight: bold;
	width: 180px;
	height: 40px;
	border-radius: 25px;
	padding: 5px;
	border: none;
	background-color: #1D6154;
	color: white;
	font-family: 'Work Sans';
	margin: 20px;
}

.logButton:hover{
	background-color: white;
	color:#1D6154;
	border: solid 1px;
	border-color: #1D6154;
}

.forgotPassword{
	margin-top: 10px;
	color: black;
}

.forgotPassword:visited{
	color: black;
}

.footerLogin{
	border: solid 1px black;
	position:absolute;
    bottom:0;  
	right: 0;
 	width:100%;
	margin: 0px;
}

/* Edit mode */ 
.toolBarBox{
	height: 50px;
	width: 100vw;
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	position: absolute;
	top: 0;
	left: 0;
	gap:20px;
}

.adminToolBar span{
	color: white;
	position: relative;
	bottom:3px;
}

.adminToolBar button{
	align-items: center;
	width: 216px;
	height: 35px;
	background-color: white;
	border: solid 1px;
	border-radius: 30px;
}

.galeryTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
}

.galeryTitle a{
	position: relative;
	bottom: 2px;
}

.modifyImg{
	display: flex;
	justify-content: flex-start;
}


   /* Edit mode end*/
